:root {
  .turno-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7bb6ce;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .numero-turno {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .texto-turno {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .botones button,
  .cambiar-turno button {
    margin: 5px;
    padding: 10px 40px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(226, 249, 251);
    color: rgb(0, 0, 0);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .cambiar-turno input[type="number"] {
    margin: 5px; /* Mismo margen para que esté alineado */
    padding: 10px; /* Relleno más pequeño que el de los botones */
    font-size: 1rem;
    width: 190px; /* Un ancho específico que te guste */
    border: 1px solid #ccc; /* Un borde sutil para que sea visible */
    border-radius: 8px;
    background-color: #fff; /* Fondo blanco para diferenciarlo de los botones */
    /* Aquí NO pones 'cursor: pointer' */

    font-family: Arial, Helvetica, sans-serif;
}